<div  class="header-container bg-transparent font-mono  tracking-wider flex justify-around pt-11 items-center border-white h-20">
  <div class="logo text-4xl tracking-normal ">Prashant Sable <span class="text-2xl font-extrabold border-l-4 pink-standard pl-3"> Every Day Learner</span></div> 
  <div>
  <nav class="">
    <ul class="flex text-center text-2xl items-center space-x-20">
        <li class="border-b-2  pb-2 px-2 border-pink-500 border-opacity-0 hover:border-opacity-100 hover:text-pink-500 duration-500 cursor-pointer active">
          <a href="/">Home</a>
        </li>
        <li class="border-b-2  pb-2 px-2 border-pink-500 border-opacity-0 hover:border-opacity-100 hover:text-pink-500 duration-500 cursor-pointer active">
          <a href="/work">Work</a>
        </li>
        <li class="border-b-2  pb-2 px-2 border-pink-500 border-opacity-0 hover:border-opacity-100 hover:text-pink-500 duration-500 cursor-pointer active">
          <a href="">Project</a>
        </li>
        <li class="border-b-2  pb-2 px-2 border-pink-500 border-opacity-0 hover:border-opacity-100 hover:text-pink-500 duration-500 cursor-pointer active">
          <a href="">Resume</a>
        </li>
        <li class="border-b-2  pb-2 px-2 border-pink-500 border-opacity-0 hover:border-opacity-100 hover:text-pink-500 duration-500 cursor-pointer active">
          <a href="/contact">Contact</a>
        </li>
    </ul>
  </nav>
</div>
</div>
    