<div  [@fadeInOut] class="bg-[url('../src/assets/programming.jpg')] bg-cover">
    <div class="main-container backdrop-blur-sm bg-gradient-to-b from-black via-transparent to-black flex justify-center items-center">

        <div class="Card-container backdrop-blur-sm rounded-2xl  xl:flex-row flex-wrap flex flex-col">



            <!-- Card -->
            <div [@slideInOut]
                class=" shadow-2xl  card p-4 m-2 test bg-gradient-to-b from-black via-transparent to-pink-700 backdrop-blur-lg min-h-fit border-2 max-w-md border-gray-800 hover:border-sky-700 rounded-xl">
                <div class="top  flex-col-reverse flex sm:flex-row  justify-around items-center">
                    <div class="left">
                        <div class="heading font-bold  pink-standard text-4xl my-2">REBOOT CAS </div>
                        <div class="designation text-2xl my-1">Frontend Intern</div>
                        <div class="period my-1 text-xl ">Jun 2023 - July 2023</div>
                    </div>
                    <div class="logo">
                        <img class="w-24 h-14 m-2" src="../../assets/RBCAS.png" alt="">
                    </div>
                </div>
                <div class="description text-xl mt-4 tracking-wider">" Jived with Angular, choreographing websites so responsive they'd win a dance-off on any device. Teamed up for interface wizardry, conjuring user-friendly spells that turned into web apps as visually delightful as a cat video marathon.

                    Played version control symphonies on GitHub, with pull requests as standing ovations. Adapted faster than a caffeinated chameleon on roller skates, learning front-end tricks like a kid with a candy bar. Stayed trendy, like a hipster at a mustache convention.
                    
                    In the grand spectacle of web development, I'm the ringmaster—cracking jokes with JavaScript, juggling CSS like a circus pro, ensuring users leave with smiles bigger than my backlog of browser compatibility issues."</div>

            </div>


            <!-- Card -->
            <div [@slideInOut]
                class=" shadow-2xl  card p-4 m-2 test bg-gradient-to-b from-black via-transparent to-sky-800 backdrop-blur-lg min-h-fit border-2 max-w-md border-gray-800 rounded-xl hover:border-pink-700">
                <div class="top  flex-col-reverse flex sm:flex-row  justify-around items-center">
                    <div class="left">
                        <div class="heading font-bold pink-standard text-4xl my-2">PIE INFOCOMM </div>
                        <div class="designation text-2xl  my-1">Web Developer Intern</div>
                        <div class="period my-1 text-xl ">Jun 2022 - July 2022</div>
                    </div>
                    <div class="logo">
                        <img class="w-16 h-16 m-2" src="../../assets/pie.png" alt="">
                    </div>
                </div>
                <div class="description text-xl mt-4 tracking-wider"> " 
                    Acquired Jedi-level skills in the mystical arts of HTML, CSS, and JavaScript—turning code into digital magic spells. Crafted an e-commerce extravaganza that dances like no one's watching, thanks to the dynamic trio of HTML, CSS, and JavaScript. <br>
                    
                    Sprinkled in features like a chef in a spice market: product listings that make products look cooler than penguins in sunglasses, a cart function smoother than a buttered-up dance floor, and user authentication so secure, even passwords feel like secret handshakes.
                    
                    In the world of web development, I'm not just coding; I'm orchestrating a symphony of pixels, making the internet a more enchanting place, one spell—ahem, line of code—at a time!"</div>

            </div>



            <!-- Card -->
            <div [@slideInOut]
                class=" shadow-2xl  card p-4 m-2 test bg-gradient-to-b from-black via-transparent to-pink-700 backdrop-blur-lg min-h-fit border-2 max-w-md border-gray-800 rounded-xl hover:border-sky-700">
                <div class="top  flex-col-reverse flex sm:flex-row  justify-around items-center">
                    <div class="left">
                        <div class="heading font-bold text-4xl pink-standard my-2">SCHNEIDER </div>
                        <div class="designation text-2xl my-1">SCADA Software Engineer</div>
                        <div class="period my-1 text-xl ">Dec 2020 - Dec 2022</div>
                    </div>
                    <div class="logo">
                        <img class="w-16 h-16 m-2" src="../../assets/SE.png" alt="">
                    </div>
                </div>
                <div class="description text-xl mt-4 tracking-wider"> " Embarked on a digital adventure in the magical realm of Lusail Smart City (Qatar). <br> Wielded the mighty AVEVA System Platform 2020 Software like a wizard with a wand—casting spells for the development of SCADA screens, all before the grand PLC simulator party (FAT). <br>

                    Played the role of a data detective, extracting reports from the mystical SCADA Software by interrogating databases. It was like CSI, but with more keyboards and fewer crime scenes. <br> If SCADA were a superhero, I'd be its sidekick, the Database Dynamo, fighting data villains and ensuring the city runs smoother than a jazzed-up unicorn on roller skates! "</div>

            </div>

        </div>

    </div>
</div>