.svg-hover{
    transition: transform 0.4s ease;
}
.svg-hover:hover{
    transform: scale(1.08);
    transition-duration: 400ms;
    cursor: pointer;
}
.svg-tx-hover:hover{
    cursor: pointer;
}

.pink-standard{
    color: #FD0D64;   
}
.bio{
    width: 100%;
    min-height: 90vh;
}

.bio-left{
    width: 60%;
}

.bio-right img {
    width: 100%; 
    height: auto; 
    display: block;
    margin: 0; 
}
