<div  class="bg-[url('../src/assets/Home.jpg')] bg-cover">
    <div class="bio backdrop-blur-sm bg-gradient-to-b from-black via-transparent to-black flex items-center">
        <div [@slideInOut]  class="pl-36 bio-left ">
            <div class="flex flex-col space-y-3">
                <div class="  space-y-7 ">
                    <div class="text-4xl font-mono animate-bounce">Hello, i'm</div>
                    <div class="text-7xl pink-standard font-extrabold tracking-wider ">Prashant Sable,</div>
                    <div class="text-2xl pink-standard">A Frontend Developer from Mumbai, India.</div>
                </div>

                <div class="flex py-24 space-x-4">
                    <div> <a href="#_" class="relative inline-block text-lg group">
                            <span
                                class="relative z-10 block px-5 py-3 w-32 items-center overflow-hidden font-medium leading-tight text-white transition-colors duration-300 ease-out border-2 border-white rounded-full group-hover:text-white">
                                <span class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-transparent"></span>
                                <span
                                    class="absolute left-0 text-center w-64 h-48 -ml-2 transition-all duration-500 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-pink-600 group-hover:-rotate-180 ease"></span>
                                <span class="relative">Resume ></span>
                            </span>

                        </a></div>

                    <div><svg class="svg-hover" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50"
                            height="50" viewBox="0 0 48 48">
                            <path fill="#FD0D64" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z">
                            </path>
                            <path fill="#fff" class="svg-tx-hover"
                                d="M14 19H18V34H14zM15.988 17h-.022C14.772 17 14 16.11 14 14.999 14 13.864 14.796 13 16.011 13c1.217 0 1.966.864 1.989 1.999C18 16.11 17.228 17 15.988 17zM35 24.5c0-3.038-2.462-5.5-5.5-5.5-1.862 0-3.505.928-4.5 2.344V19h-4v15h4v-8c0-1.657 1.343-3 3-3s3 1.343 3 3v8h4C35 34 35 24.921 35 24.5z">
                            </path>
                        </svg></div>
                </div>
            </div>
        </div>
        <div [@slideInOut]  class="bio-right items-center">
            <img class="" src="../../assets/Group 1.png" alt="">
        </div>
    </div>
</div>